In [1]:
import pandas as pd

In [3]:
df = pd.read_json("data.json")

In [4]:
df.head()

,Account Name,City,Country,Date,Date and Time,Hour,IP Address,Latitude,Location,Longitude,State,Time,Time Stamp,Time Zone
0,xxxxxxxxxxxx,Benton,United States,2017-03-23,"Sunday, January 8, 2017 at 7:46:32 AM Central ...",7,108.64.45.187,34.564537,"Benton, Arkansas, United States",-92.586828,Arkansas,07:46:32,1483861592000,Central Standard Time
1,xxxxxxxxxxxx,Benton,United States,2017-01-08,"Sunday, January 8, 2017 at 7:46:32 AM Central ...",7,108.64.45.187,34.564537,"Benton, Arkansas, United States",-92.586828,Arkansas,07:46:32,1483861592000,Central Standard Time
2,xxxxxxxxxxxx,Conway,United States,2017-01-08,"Sunday, January 8, 2017 at 2:08:42 PM Central ...",14,24.144.24.103,35.088696,"Conway, Arkansas, United States",-92.442101,Arkansas,14:08:42,1483884522000,Central Standard Time
3,xxxxxxxxxxxx,Oklahoma City,United States,2017-01-08,"Sunday, January 8, 2017 at 3:38:24 PM Central ...",15,166.173.62.123,35.472989,"Oklahoma City, Oklahoma, United States",-97.517054,Oklahoma,15:38:24,1483889904000,Central Standard Time
4,xxxxxxxxxxxx,North Bethesda,United States,2017-01-08,"Sunday, January 8, 2017 at 8:08:30 PM Central ...",20,73.133.196.202,39.046129,"North Bethesda, Maryland, United States",-77.113010,Maryland,20:08:30,1483906110000,Central Standard Time

In [5]:
df.iteritems()

In [24]:
for x in df.iteritems():
    print(x)

('Account Name', 0     xxxxxxxxxxxx
1     xxxxxxxxxxxx
2     xxxxxxxxxxxx
3     xxxxxxxxxxxx
4     xxxxxxxxxxxx
5     xxxxxxxxxxxx
6     xxxxxxxxxxxx
7     xxxxxxxxxxxx
8     xxxxxxxxxxxx
9     xxxxxxxxxxxx
10    xxxxxxxxxxxx
11    xxxxxxxxxxxx
12    xxxxxxxxxxxx
13    xxxxxxxxxxxx
14    xxxxxxxxxxxx
15    xxxxxxxxxxxx
16    xxxxxxxxxxxx
17    xxxxxxxxxxxx
18    xxxxxxxxxxxx
19    xxxxxxxxxxxx
20    xxxxxxxxxxxx
21    xxxxxxxxxxxx
22    xxxxxxxxxxxx
23    xxxxxxxxxxxx
24    xxxxxxxxxxxx
25    xxxxxxxxxxxx
26    xxxxxxxxxxxx
27    xxxxxxxxxxxx
28    xxxxxxxxxxxx
29    xxxxxxxxxxxx
30    xxxxxxxxxxxx
31    xxxxxxxxxxxx
32    xxxxxxxxxxxx
33    xxxxxxxxxxxx
34    xxxxxxxxxxxx
Name: Account Name, dtype: object)
('City', 0             Benton
1             Benton
2             Conway
3      Oklahoma City
4     North Bethesda
5     North Bethesda
6     North Bethesda
7        Little Rock
8        Little Rock
9        Little Rock
10       Little Rock
11       Little Rock
12             Cabot
13        Alexandria
14       Little Rock
15        Huntsville
16        Huntsville
17            Dallas
18           Ontario
19       Little Rock
20       Little Rock
21            Dallas
22    North Bethesda
23    North Bethesda
24            Camden
25            Dallas
26            Dallas
27            Dallas
28            Dallas
29       Westminster
30       Little Rock
31        Monticello
32       Little Rock
33        Huntsville
34        Huntsville
Name: City, dtype: object)
('Country', 0     United States
1     United States
2     United States
3     United States
4     United States
5     United States
6     United States
7     United States
8     United States
9     United States
10    United States
11    United States
12    United States
13    United States
14    United States
15    United States
16    United States
17    United States
18    United States
19    United States
20    United States
21    United States
22    United States
23    United States
24    United States
25    United States
26    United States
27    United States
28    United States
29    United States
30    United States
31    United States
32    United States
33    United States
34    United States
Name: Country, dtype: object)
('Date', 0    2017-03-23
1    2017-01-08
2    2017-01-08
3    2017-01-08
4    2017-01-08
5    2017-01-08
6    2017-01-08
7    2017-01-08
8    2017-01-08
9    2017-01-08
10   2017-01-08
11   2017-01-08
12   2017-01-08
13   2017-01-09
14   2017-01-09
15   2017-01-09
16   2017-01-09
17   2017-01-09
18   2017-01-09
19   2017-01-09
20   2017-01-09
21   2017-01-09
22   2017-01-09
23   2017-01-09
24   2017-01-09
25   2017-01-09
26   2017-01-09
27   2017-01-09
28   2017-01-09
29   2017-01-10
30   2017-01-10
31   2017-01-10
32   2017-01-10
33   2017-01-10
34   2017-01-10
Name: Date, dtype: datetime64[ns])
('Date and Time', 0     Sunday, January 8, 2017 at 7:46:32 AM Central ...
1     Sunday, January 8, 2017 at 7:46:32 AM Central ...
2     Sunday, January 8, 2017 at 2:08:42 PM Central ...
3     Sunday, January 8, 2017 at 3:38:24 PM Central ...
4     Sunday, January 8, 2017 at 8:08:30 PM Central ...
5     Sunday, January 8, 2017 at 8:08:31 PM Central ...
6     Sunday, January 8, 2017 at 8:08:30 PM Central ...
7     Sunday, January 8, 2017 at 8:52:47 PM Central ...
8     Sunday, January 8, 2017 at 8:52:46 PM Central ...
9     Sunday, January 8, 2017 at 8:52:47 PM Central ...
10    Sunday, January 8, 2017 at 8:52:47 PM Central ...
11    Sunday, January 8, 2017 at 9:36:11 PM Central ...
12    Sunday, January 8, 2017 at 11:41:13 PM Central...
13    Monday, January 9, 2017 at 5:29:52 AM Central ...
14    Monday, January 9, 2017 at 5:51:54 AM Central ...
15    Monday, January 9, 2017 at 8:09:10 AM Central ...
16    Monday, January 9, 2017 at 8:09:10 AM Central ...
17    Monday, January 9, 2017 at 8:41:15 AM Central ...
18    Monday, January 9, 2017 at 1:53:53 PM Central ...
19    Monday, January 9, 2017 at 2:47:13 PM Central ...
20    Monday, January 9, 2017 at 2:47:14 PM Central ...
21    Monday, January 9, 2017 at 3:59:13 PM Central ...
22    Monday, January 9, 2017 at 8:25:58 PM Central ...
23    Monday, January 9, 2017 at 8:25:58 PM Central ...
24    Monday, January 9, 2017 at 8:49:46 PM Central ...
25    Monday, January 9, 2017 at 9:05:31 PM Central ...
26    Monday, January 9, 2017 at 9:05:30 PM Central ...
27    Monday, January 9, 2017 at 9:05:31 PM Central ...
28    Monday, January 9, 2017 at 9:05:30 PM Central ...
29    Tuesday, January 10, 2017 at 12:10:01 AM Centr...
30    Tuesday, January 10, 2017 at 1:50:54 AM Centra...
31    Tuesday, January 10, 2017 at 5:52:17 AM Centra...
32    Tuesday, January 10, 2017 at 7:09:25 AM Centra...
33    Tuesday, January 10, 2017 at 9:10:12 AM Centra...
34    Tuesday, January 10, 2017 at 9:10:11 AM Centra...
Name: Date and Time, dtype: object)
('Hour', 0      7
1      7
2     14
3     15
4     20
5     20
6     20
7     20
8     20
9     20
10    20
11    21
12    23
13     5
14     5
15     8
16     8
17     8
18    13
19    14
20    14
21    15
22    20
23    20
24    20
25    21
26    21
27    21
28    21
29     0
30     1
31     5
32     7
33     9
34     9
Name: Hour, dtype: int64)
('IP Address', 0                              108.64.45.187
1                              108.64.45.187
2                              24.144.24.103
3                             166.173.62.123
4                             73.133.196.202
5                             73.133.196.202
6                             73.133.196.202
7     2601:381:8101:1b0f:d066:4f15:899b:dc49
8     2601:381:8101:1b0f:d066:4f15:899b:dc49
9     2601:381:8101:1b0f:d066:4f15:899b:dc49
10    2601:381:8101:1b0f:d066:4f15:899b:dc49
11    2602:30a:c071:a260:6c0d:5d86:be0f:a774
12                             99.195.220.83
13    2601:140:8000:54de:ed32:8d54:1adc:ba75
14                           107.140.167.130
15                              159.63.69.22
16                              159.63.69.22
17                            166.173.60.116
18                            72.168.145.104
19    2601:381:4203:241e:7d0b:5fc0:ae42:66ba
20    2601:381:4203:241e:7d0b:5fc0:ae42:66ba
21                           166.177.121.119
22                            73.133.196.202
23                            73.133.196.202
24    2602:304:ce4d:5130:e9da:509a:c1ba:4d5a
25                           166.137.216.219
26                           166.137.216.219
27                           166.137.216.219
28                           166.137.216.219
29                             73.129.119.60
30    2602:30a:c071:a260:4d59:9f8a:3d13:dc12
31                           107.140.167.130
32                              75.42.10.240
33                              159.63.69.22
34                              159.63.69.22
Name: IP Address, dtype: object)
('Latitude', 0     34.564537
1     34.564537
2     35.088696
3     35.472989
4     39.046129
5     39.046129
6     39.046129
7     34.746481
8     34.746481
9     34.746481
10    34.746481
11    34.746481
12    34.974532
13    38.805110
14    34.746481
15    34.729847
16    34.729847
17    32.776272
18    34.065846
19    34.746481
20    34.746481
21    32.776272
22    39.046129
23    39.046129
24    33.584558
25    32.776272
26    32.776272
27    32.776272
28    32.776272
29    39.575264
30    34.746481
31    33.629343
32    34.746481
33    34.729847
34    34.729847
Name: Latitude, dtype: float64)
('Location', 0             Benton, Arkansas, United States
1             Benton, Arkansas, United States
2             Conway, Arkansas, United States
3      Oklahoma City, Oklahoma, United States
4     North Bethesda, Maryland, United States
5     North Bethesda, Maryland, United States
6     North Bethesda, Maryland, United States
7        Little Rock, Arkansas, United States
8        Little Rock, Arkansas, United States
9        Little Rock, Arkansas, United States
10       Little Rock, Arkansas, United States
11       Little Rock, Arkansas, United States
12             Cabot, Arkansas, United States
13        Alexandria, Virginia, United States
14       Little Rock, Arkansas, United States
15         Huntsville, Alabama, United States
16         Huntsville, Alabama, United States
17               Dallas, Texas, United States
18         Ontario, California, United States
19       Little Rock, Arkansas, United States
20       Little Rock, Arkansas, United States
21               Dallas, Texas, United States
22    North Bethesda, Maryland, United States
23    North Bethesda, Maryland, United States
24            Camden, Arkansas, United States
25               Dallas, Texas, United States
26               Dallas, Texas, United States
27               Dallas, Texas, United States
28               Dallas, Texas, United States
29       Westminster, Maryland, United States
30       Little Rock, Arkansas, United States
31        Monticello, Arkansas, United States
32       Little Rock, Arkansas, United States
33         Huntsville, Alabama, United States
34         Huntsville, Alabama, United States
Name: Location, dtype: object)
('Longitude', 0     -92.586828
1     -92.586828
2     -92.442101
3     -97.517054
4     -77.113010
5     -77.113010
6     -77.113010
7     -92.289595
8     -92.289595
9     -92.289595
10    -92.289595
11    -92.289595
12    -92.016533
13    -77.047023
14    -92.289595
15    -86.585901
16    -86.585901
17    -96.796856
18   -117.648430
19    -92.289595
20    -92.289595
21    -96.796856
22    -77.113010
23    -77.113010
24    -92.834329
25    -96.796856
26    -96.796856
27    -96.796856
28    -96.796856
29    -76.995928
30    -92.289595
31    -91.791233
32    -92.289595
33    -86.585901
34    -86.585901
Name: Longitude, dtype: float64)
('State', 0       Arkansas
1       Arkansas
2       Arkansas
3       Oklahoma
4       Maryland
5       Maryland
6       Maryland
7       Arkansas
8       Arkansas
9       Arkansas
10      Arkansas
11      Arkansas
12      Arkansas
13      Virginia
14      Arkansas
15       Alabama
16       Alabama
17         Texas
18    California
19      Arkansas
20      Arkansas
21         Texas
22      Maryland
23      Maryland
24      Arkansas
25         Texas
26         Texas
27         Texas
28         Texas
29      Maryland
30      Arkansas
31      Arkansas
32      Arkansas
33       Alabama
34       Alabama
Name: State, dtype: object)
('Time', 0     07:46:32
1     07:46:32
2     14:08:42
3     15:38:24
4     20:08:30
5     20:08:31
6     20:08:30
7     20:52:47
8     20:52:46
9     20:52:47
10    20:52:47
11    21:36:11
12    23:41:13
13    05:29:52
14    05:51:54
15    08:09:10
16    08:09:10
17    08:41:15
18    13:53:53
19    14:47:13
20    14:47:14
21    15:59:13
22    20:25:58
23    20:25:58
24    20:49:46
25    21:05:31
26    21:05:30
27    21:05:31
28    21:05:30
29    00:10:01
30    01:50:54
31    05:52:17
32    07:09:25
33    09:10:12
34    09:10:11
Name: Time, dtype: object)
('Time Stamp', 0     1483861592000
1     1483861592000
2     1483884522000
3     1483889904000
4     1483906110000
5     1483906111000
6     1483906110000
7     1483908767000
8     1483908766000
9     1483908767000
10    1483908767000
11    1483911371000
12    1483918873000
13    1483939792000
14    1483941114000
15    1483949350000
16    1483949350000
17    1483951275000
18    1483970033000
19    1483973233000
20    1483973234000
21    1483977553000
22    1483993558000
23    1483993558000
24    1483994986000
25    1483995931000
26    1483995930000
27    1483995931000
28    1483995930000
29    1484007001000
30    1484013054000
31    1484027537000
32    1484032165000
33    1484039412000
34    1484039411000
Name: Time Stamp, dtype: int64)
('Time Zone', 0     Central Standard Time
1     Central Standard Time
2     Central Standard Time
3     Central Standard Time
4     Central Standard Time
5     Central Standard Time
6     Central Standard Time
7     Central Standard Time
8     Central Standard Time
9     Central Standard Time
10    Central Standard Time
11    Central Standard Time
12    Central Standard Time
13    Central Standard Time
14    Central Standard Time
15    Central Standard Time
16    Central Standard Time
17    Central Standard Time
18    Central Standard Time
19    Central Standard Time
20    Central Standard Time
21    Central Standard Time
22    Central Standard Time
23    Central Standard Time
24    Central Standard Time
25    Central Standard Time
26    Central Standard Time
27    Central Standard Time
28    Central Standard Time
29    Central Standard Time
30    Central Standard Time
31    Central Standard Time
32    Central Standard Time
33    Central Standard Time
34    Central Standard Time
Name: Time Zone, dtype: object)

In [11]:
for column in df:
    print(column)

Account Name
City
Country
Date
Date and Time
Hour
IP Address
Latitude
Location
Longitude
State
Time
Time Stamp
Time Zone

In [37]:
list(df['Latitude'].values)[0]

34.564537199999997

In [43]:
latlist = []
longlist []
latlonglist = []

for x in list(df['Latitude']):
    latlist.append(x) 

latlonglist

[34.564537199999997,
 34.564537199999997,
 35.088696300000002,
 35.472988600000001,
 39.046129200000003,
 39.046129200000003,
 39.046129200000003,
 34.746480900000002,
 34.746480900000002,
 34.746480900000002,
 34.746480900000002,
 34.746480900000002,
 34.974531999999996,
 38.8051095,
 34.746480900000002,
 34.729846999999999,
 34.729846999999999,
 32.776271899999998,
 34.065846000000001,
 34.746480900000002,
 34.746480900000002,
 32.776271899999998,
 39.046129200000003,
 39.046129200000003,
 33.584558200000004,
 32.776271899999998,
 32.776271899999998,
 32.776271899999998,
 32.776271899999998,
 39.575263900000003,
 34.746480900000002,
 33.629342700000002,
 34.746480900000002,
 34.729846999999999,
 34.729846999999999]

In [51]:
df[['Latitude', 'Longitude']].values.tolist()

[[34.5645372, -92.5868279],
 [34.5645372, -92.5868279],
 [35.0886963, -92.442101],
 [35.4729886, -97.5170535],
 [39.0461292, -77.1130096],
 [39.0461292, -77.1130096],
 [39.0461292, -77.1130096],
 [34.7464809, -92.2895947],
 [34.7464809, -92.2895947],
 [34.7464809, -92.2895947],
 [34.7464809, -92.2895947],
 [34.7464809, -92.2895947],
 [34.974531999999996, -92.0165335],
 [38.8051095, -77.0470228],
 [34.7464809, -92.2895947],
 [34.729847, -86.585901],
 [34.729847, -86.585901],
 [32.7762719, -96.7968558],
 [34.065846, -117.6484303],
 [34.7464809, -92.2895947],
 [34.7464809, -92.2895947],
 [32.7762719, -96.7968558],
 [39.0461292, -77.1130096],
 [39.0461292, -77.1130096],
 [33.584558200000004, -92.8343293],
 [32.7762719, -96.7968558],
 [32.7762719, -96.7968558],
 [32.7762719, -96.7968558],
 [32.7762719, -96.7968558],
 [39.5752639, -76.9959276],
 [34.7464809, -92.2895947],
 [33.6293427, -91.7912326],
 [34.7464809, -92.2895947],
 [34.729847, -86.585901],
 [34.729847, -86.585901]]

In [56]:
df['Latitude'].values.tolist()

[34.5645372,
 34.5645372,
 35.0886963,
 35.4729886,
 39.0461292,
 39.0461292,
 39.0461292,
 34.7464809,
 34.7464809,
 34.7464809,
 34.7464809,
 34.7464809,
 34.974531999999996,
 38.8051095,
 34.7464809,
 34.729847,
 34.729847,
 32.7762719,
 34.065846,
 34.7464809,
 34.7464809,
 32.7762719,
 39.0461292,
 39.0461292,
 33.584558200000004,
 32.7762719,
 32.7762719,
 32.7762719,
 32.7762719,
 39.5752639,
 34.7464809,
 33.6293427,
 34.7464809,
 34.729847,
 34.729847]

In [57]:
for x in df[['Account Name','City','State']].values.tolist():

[['xxxxxxxxxxxx', 'Benton', 'Arkansas', 34.5645372, -92.5868279],
 ['xxxxxxxxxxxx', 'Benton', 'Arkansas', 34.5645372, -92.5868279],
 ['xxxxxxxxxxxx', 'Conway', 'Arkansas', 35.0886963, -92.442101],
 ['xxxxxxxxxxxx', 'Oklahoma City', 'Oklahoma', 35.4729886, -97.5170535],
 ['xxxxxxxxxxxx', 'North Bethesda', 'Maryland', 39.0461292, -77.1130096],
 ['xxxxxxxxxxxx', 'North Bethesda', 'Maryland', 39.0461292, -77.1130096],
 ['xxxxxxxxxxxx', 'North Bethesda', 'Maryland', 39.0461292, -77.1130096],
 ['xxxxxxxxxxxx', 'Little Rock', 'Arkansas', 34.7464809, -92.2895947],
 ['xxxxxxxxxxxx', 'Little Rock', 'Arkansas', 34.7464809, -92.2895947],
 ['xxxxxxxxxxxx', 'Little Rock', 'Arkansas', 34.7464809, -92.2895947],
 ['xxxxxxxxxxxx', 'Little Rock', 'Arkansas', 34.7464809, -92.2895947],
 ['xxxxxxxxxxxx', 'Little Rock', 'Arkansas', 34.7464809, -92.2895947],
 ['xxxxxxxxxxxx', 'Cabot', 'Arkansas', 34.974531999999996, -92.0165335],
 ['xxxxxxxxxxxx', 'Alexandria', 'Virginia', 38.8051095, -77.0470228],
 ['xxxxxxxxxxxx', 'Little Rock', 'Arkansas', 34.7464809, -92.2895947],
 ['xxxxxxxxxxxx', 'Huntsville', 'Alabama', 34.729847, -86.585901],
 ['xxxxxxxxxxxx', 'Huntsville', 'Alabama', 34.729847, -86.585901],
 ['xxxxxxxxxxxx', 'Dallas', 'Texas', 32.7762719, -96.7968558],
 ['xxxxxxxxxxxx', 'Ontario', 'California', 34.065846, -117.6484303],
 ['xxxxxxxxxxxx', 'Little Rock', 'Arkansas', 34.7464809, -92.2895947],
 ['xxxxxxxxxxxx', 'Little Rock', 'Arkansas', 34.7464809, -92.2895947],
 ['xxxxxxxxxxxx', 'Dallas', 'Texas', 32.7762719, -96.7968558],
 ['xxxxxxxxxxxx', 'North Bethesda', 'Maryland', 39.0461292, -77.1130096],
 ['xxxxxxxxxxxx', 'North Bethesda', 'Maryland', 39.0461292, -77.1130096],
 ['xxxxxxxxxxxx', 'Camden', 'Arkansas', 33.584558200000004, -92.8343293],
 ['xxxxxxxxxxxx', 'Dallas', 'Texas', 32.7762719, -96.7968558],
 ['xxxxxxxxxxxx', 'Dallas', 'Texas', 32.7762719, -96.7968558],
 ['xxxxxxxxxxxx', 'Dallas', 'Texas', 32.7762719, -96.7968558],
 ['xxxxxxxxxxxx', 'Dallas', 'Texas', 32.7762719, -96.7968558],
 ['xxxxxxxxxxxx', 'Westminster', 'Maryland', 39.5752639, -76.9959276],
 ['xxxxxxxxxxxx', 'Little Rock', 'Arkansas', 34.7464809, -92.2895947],
 ['xxxxxxxxxxxx', 'Monticello', 'Arkansas', 33.6293427, -91.7912326],
 ['xxxxxxxxxxxx', 'Little Rock', 'Arkansas', 34.7464809, -92.2895947],
 ['xxxxxxxxxxxx', 'Huntsville', 'Alabama', 34.729847, -86.585901],
 ['xxxxxxxxxxxx', 'Huntsville', 'Alabama', 34.729847, -86.585901]]